<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        食べ処へようこそ！
      </h1>
      <h2 class="subtitle">
        近場の食事処を簡単に検索できるサービスです
      </h2>
    </div>
  </div>
</section>
